#cuerpo{
  background-color:#EE9CB9;
}
#sidebarMenu{
background-color: #EE9CB9;
}
#cuadro-mensajes{
  background-color: #EE9CB9;
}
#cuadro-texto{
background-color: #ffffff;
border-radius: 20px;
border: #D9D9D9;
}
#cuadro-texto2{
  background-color: #ffffff;
  border-radius: 20px;
  border: #D9D9D9;
}
#boton-enviar{
background-color: #F0D2DD;
border: none;
color: #EE9CB9;
}

#boton-enviar2{
  background-color: #F0D2DD;
  border: none;
  color: #EE9CB9;
  }

#cont{
  background-color: #F0D2DD;
  border-radius: 10px;
}
#offcanvasNavbar{
background-color: #EE9CB9;
}
.container {
max-width: 1000px;
margin: 100px auto 50px;
padding: 20px;
}

.chatbox {
height: 500px;
list-style: none;
display: flex;
flex-flow: column;
background: #F0D2DD;
border-radius: 6px;
box-shadow: 1px 0px 10px #F0D2DD;
}
#messageList {
flex: 1;
overflow-y: scroll;
}

#messageList li {
  list-style: none;
  max-width: 400px;
  padding: 10px;
}

form.Input {
display: flex;
}

form.Input input {
flex: 10;
padding: 14px 10px;
border: none;
}

.mensaje {
  display: flex;
  flex-direction: row;
  max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
  margin-bottom: 10px;
}

.usuario {
  font-weight: bold;
  margin-right: 5px;
}

.fecha {
  font-size: smaller;
  color: gray;
}
.message {
  display: block;
  /**max-width: 80%;*/
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.receiver {
  text-align: right;
  margin-left: auto;
  background-color: #DCF8C6; /* Color del fondo para mensajes enviados por el usuario */
}

.sender {
  text-align: left;
  margin-right: auto;
  background-color: #E5E5EA; /* Color del fondo para mensajes recibidos */
}

